
<h4>Nested Form Type 1</h4>
<div>
  <form [formGroup]="mainForm">
    <ul>
      <!-- MAIN -->
      <li>
        <input  type="checkbox" formControlName="all"/>
          Select All
      </li>
      <ul formArrayName="views">
        <!-- VIEWS -->
          <li *ngFor="let view of objData; let vi=index" >
            <div formGroupName="{{vi}}">
                <span>
                  <input  type="checkbox" formControlName="checked"/>
                  {{ view.name }}
                </span>
              <!-- OPTIONS -->
              <ul formArrayName="options">
                <li *ngFor="let option of view.options; let oi=index">
                  <div formGroupName="{{oi}}">
                    <span>
                      <input type="checkbox" formControlName="checked"/>
                      {{ option.name }}
                    </span>
                  </div>
              </ul>
            </div>
      </ul>
    </ul>
  </form>
</div>
<hr>
<span>{{mainForm.value | json}}</span>
<hr>
<span>Selected Options : {{mainFormResult | json}}</span>
<hr>


